<!DOCTYPE html>
<html>
<head>
    <title>Crea Offerta</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home'%}">GameHistory Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_profile' %}">Il tuo account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'manage_offers' %}">Gestione offerte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_listing' %}">Crea annuncio</a>
                    </li>
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="btn btn-outline-danger" href="{% url 'admin:index' %}">Admin Dashboard</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}" class="form-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">Login Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" href="{% url 'signup' %}">Registrati</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h1 class="h4 mb-0">Crea Offerta per {{ listing.game.title }}</h1>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_offer_price" class="font-weight-bold">Prezzo dell'offerta</label>
                        {{ form.offer_price }}
                        {% if form.offer_price.errors %}
                            <div class="alert alert-danger mt-2">
                                {% for error in form.offer_price.errors %}
                                    <p class="mb-0">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Invia Offerta</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
