{% load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .description-box {
            background-color: #f8f9fa;
            border: 1px solid #e9ecef;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
        }
        html, body {
            height: 100%;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        .flex-grow-1 {
            flex-grow: 1;
        }
        .footer {
            background-color: #f8f9fa;
            border-top: 1px solid #e9ecef;
            padding: 10px 0;
            text-align: center;
            width: 100%;
            margin-top: auto;
        }   
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home'%}">GameHistory Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_profile' %}">Il tuo account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'manage_offers' %}">Gestione offerte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_listing' %}">Crea annuncio</a>
                    </li>
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="btn btn-outline-danger" href="{% url 'admin:index' %}">Admin Dashboard</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}" class="form-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">Login Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" href="{% url 'signup' %}">Registrati</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="description-box">
            <center><h2>🚀Benvenuti su GameHistory Project!🚀</h2>
            <p><b>GameHistory Project</b> è il miglior sito per gli appassionati di videogiochi dove puoi trovare e vendere giochi usati, scoprire nuove offerte e molto altro ancora. Unisciti alla nostra community e inizia a esplorare oggi stesso! ⭐</p>
        </div>

        <div class="row mb-4">
            <div class="col-md-12">
                {% if user.username == "" %}
                    <h3>Elenco Annunci loggato come: Nessuno</h3>
                {% else %}
                    <h3>Elenco Annunci pubblicati ora loggato come: {{user.username}}</h3>
                {% endif %}
            </div>
        </div>
        {% if messages %}
        <div class="alert alert-info">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <div class="row mb-4">
            <div class="col-md-12">
                <form method="GET" action="{% url 'search_listings' %}" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" name="query" placeholder="Ricerca..." aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                        Cerca
                        <img src="{% static 'img/search.png' %}" alt="search" style="width: 20px; height: 20px; margin-right: 5px;">
                    </button>
                </form>
            </div>
        </div>

        <div class="row">
            {% for listing in listings %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ listing.game.title }}</h5>
                            <p class="card-text">Prezzo: {{ listing.price }} €</p>
                            <a href="{% url 'listing_detail' listing.id %}" class="btn btn-primary">Dettagli</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-md-12 mb-12">
                    <p class="alert alert-warning" style="text-align:center">Nessun annuncio caricato al momento</p>
                </div>   
            {% endfor %}
        </div>
    </div>
    <footer class="footer">
        <p>&copy; 2024 GameHistory Project. Tutti i diritti riservati.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
