<!DOCTYPE html>
<html>
<head>
    <title>Dettaglio Annuncio</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .comment-box {
            width: 100%;
            resize: none;
        }
        .product-info {
            border-bottom: 1px solid #dee2e6;
            padding-bottom: 15px;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home'%}">GameHistory Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_profile' %}">Il tuo account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'manage_offers' %}">Gestione offerte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_listing' %}">Crea annuncio</a>
                    </li>
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="btn btn-outline-danger" href="{% url 'admin:index' %}">Admin Dashboard</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}" class="form-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">Login Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" href="{% url 'signup' %}">Registrati</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <div class="product-info">
                    {% if messages %}
                        <div class="alert alert-info">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                </div>
                    {% endif %}
                    <h1>{{ listing.game.title }}</h1>
                    <p>Creato da: {{ listing.user.username }}</p>
                    <p>Prezzo: {{ listing.price }} €</p>
                    <p>Quantità disponibile: {{ listing.quantity }}</p>
                    <h4>Valutazione del venditore: {{ average_rating|default:"No reviews yet" }}</h4>
                    <ul class="list-unstyled">
                        {% for review in reviews %}
                            <li class="media mb-2">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">{{ review.user.username }}: {{ review.rating }} stelle</h5>
                                    {{ review.comment }}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                
                <div class="product-info">
                    <h2>Informazioni sul Gioco</h2>
                    <p>Titolo: {{ listing.game.title }}</p>
                    <p>Data di Rilascio: {{ listing.game.release_date }}</p>
                    <p>Genere: {{ listing.game.genre }}</p>
                    <p>Categoria: {{ listing.game.category }}</p>
                    <p>Piattaforma: {{ listing.game.platform }}</p>
                    <p>Descrizione: {{ listing.game.description }}</p>
                </div>

                <div class="row mt-4">
                    <div class="col-md-12">
                        {% if is_owner %}
                            <form action="{% url 'delete_listing' listing.id %}" method="post" class="d-inline-block mt-2">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Cancella Annuncio</button>
                            </form>
                        {% else %}
                            {% if user.is_authenticated %}
                                <div class="btn-group mt-2">
                                    <form action="{% url 'buy_listing' listing.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success">Acquista</button>
                                    </form>
                                    &nbsp
                                    &nbsp
                                    &nbsp
                                    <a href="{% url 'create_offer' listing.id %}" class="btn btn-warning">Fai un'offerta</a>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Commenti</h2>
                {% if user.is_authenticated %}
                    <form method="post" class="mb-3">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.content }}
                        </div>
                        <button type="submit" class="btn btn-primary">Aggiungi commento</button>
                    </form>
                {% else %}
                    <p>Devi essere <a href="{% url 'login' %}">loggato</a> per commentare.</p>
                {% endif %}
                <ul class="list-unstyled mt-3">
                    {% for comment in comments %}
                        <li class="media mb-2">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">{{ comment.user.username }}</h5>
                                {{ comment.content }} ({{ comment.created_at }})
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                {% if user.is_authenticated %}
                    {% if user != listing.user %}
                        <a href="{% url 'add_review' listing.id %}" class="btn btn-secondary">Aggiungi una recensione</a>
                    {% else %}
                        <p>Non puoi recensire te stesso.</p>
                    {% endif %}
                {% else %}
                    <p>Devi essere <a href="{% url 'login' %}">loggato</a> per effettuare una recensione e per acquistare.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
