<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestione delle offerte</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .description-box {
            background-color: #f8f9fa;
            border: 1px solid #e9ecef;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
        }
        html, body {
            height: 100%;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        .flex-grow-1 {
            flex-grow: 1;
        }
        .footer {
            background-color: #f8f9fa;
            border-top: 1px solid #e9ecef;
            padding: 10px 0;
            text-align: center;
            width: 100%;
            margin-top: auto;
        }   
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home'%}">GameHistory Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user_profile' %}">Il tuo account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'manage_offers' %}">Gestione offerte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_listing' %}">Crea annuncio</a>
                    </li>
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="btn btn-outline-danger" href="{% url 'admin:index' %}">Admin Dashboard</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}" class="form-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">Login Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" href="{% url 'signup' %}">Registrati</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        <h1><center>💸Gestione delle offerte💸</center></h1>
        <div class="description-box">
            <center><p>In questa sezione é possibile visualizzare le offerte ricevute per i tuoi annunci con la possibilità di accettare o rifiutare l'offerta, ma è anche possibile vedere lo stato delle tue offerte su altri annunci!</p></center>
        </div>
        
        {% if messages %}
            <div class="alert alert-info">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        
        <center><h3>Offerte sui tuoi annunci</h3></center>
        <ul class="list-group">
            {% for offer in offers_as_seller %}
                <li class="list-group-item">
                    <p>Offerta: {{ offer.offer_price }} € di {{ offer.user.username }} per {{ offer.listing.game.title }}</p>
                    <p>Stato: 
                        {% if offer.accepted is None %}
                            <span class="text-warning">In attesa</span>
                        {% elif offer.accepted %}
                            <span class="text-success">Accettata</span>
                        {% else %}
                            <span class="text-danger">Rifiutata</span>
                        {% endif %}
                    </p>
                    {% if offer.accepted is None %}
                        <a href="{% url 'respond_to_offer' offer.id 'accept' %}" class="btn btn-success btn-sm">Accetta</a>
                        <a href="{% url 'respond_to_offer' offer.id 'reject' %}" class="btn btn-danger btn-sm">Rifiuta</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        &nbsp;
        &nbsp;
        <center><h3>Le tue offerte</h3></center>
        <ul class="list-group">
            {% for offer in offers_as_buyer %}
                <li class="list-group-item">
                    <p>Offerta: {{ offer.offer_price }} € per {{ offer.listing.game.title }}</p>
                    <p>Stato: 
                        {% if offer.accepted is None %}
                            <span class="text-warning">In attesa</span>
                        {% elif offer.accepted %}
                            <span class="text-success">Accettata</span>
                        {% else %}
                            <span class="text-danger">Rifiutata</span>
                        {% endif %}
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>
    &nbsp;
    &nbsp;
    <footer class="footer">
        <p>&copy; 2024 GameHistory Project. Tutti i diritti riservati.</p>
    </footer>
</body>
</html>
