<!-- user_purchases.html -->

<!DOCTYPE html>
<html>
<head>
    <title>I tuoi acquisti</title>
</head>
<body>
    <h2>I tuoi acquisti {{user.username}}</h2>
    
    <ul>
        {% for purchase in purchases %}
        <li>
            <strong>Gioco:</strong> {{ purchase.listing.game.title }} <br>
            <strong>Data acquisto:</strong> {{ purchase.purchase_date }} <br>
            <strong>Chiave di gioco:</strong> {{ purchase.key }} <br>
            <!-- Aggiungi altri dettagli dell'acquisto se necessario -->
        </li>
        {% empty %}
        <li>Nessun acquisto effettuato.</li>
        {% endfor %}
    </ul>
</body>
</html>
